<%- include('../partials/header.ejs') %>
<h1>Shop Our Store</h1>
<% for (item of items){ %>
<div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= item.price %></h6>
      <p class="card-text"><%= item.desc %></p>
      <a href="#" class="card-link">Add to Cart</a>
    </div>
  </div>
  <% } %>

<%- include('../partials/footer.ejs') %>
